.header .menu__link, .header .menu__links:last-child {
  text-decoration: none;
  color: #3D3C3C;
  transition: 400ms;
}

.main__top-page .buttons__secondary:hover, .header .menu__links:last-child:hover {
  border: 1px solid #3D3C3C;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  max-width: 80%;
  margin: 0 auto 0 auto;
  padding: 1rem;
}
@media (max-width: 767.98px) {
  .header {
    max-width: 100%;
    padding: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .header {
    max-width: 100%;
    padding: 2.5rem;
  }
}
.header__logo {
  max-width: 2.5em;
}
.header__img {
  width: 100%;
}
.header .menu__list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.header .menu__links:last-child {
  border: 1px solid #CBCBD7;
  padding: 1.2em 2.3em;
  border-radius: 50px;
  background-color: #FFFFFF;
}
.header .menu__link {
  font-weight: bold;
}

.footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5rem;
  height: 70px;
  background-color: #272626;
  font-family: "Inter", sans-serif;
}
.footer__p {
  color: #FEFEFE;
}

.main {
  font-family: "Inter", sans-serif;
  max-width: 80%;
  margin: 8rem auto 8rem auto;
}
@media (max-width: 767.98px) {
  .main {
    max-width: 100%;
    padding: 1.2rem;
    margin: 3rem auto 3rem auto;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .main {
    max-width: 100%;
    padding: 0 2.5rem;
    margin: 3rem auto 3rem auto;
  }
}
.main__top-page {
  margin: 0 0 3rem 0;
  width: 100%;
}
.main__top-page .texts {
  width: 55%;
  margin: 0 0 2rem 0;
}
@media (max-width: 767.98px) {
  .main__top-page .texts {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .main__top-page .texts {
    width: 100%;
  }
}
.main__top-page .texts__title {
  font-size: 4em;
  font-weight: bold;
  color: #272626;
  margin: 0 0 2rem 0;
  line-height: 1.2em;
}
@media (max-width: 767.98px) {
  .main__top-page .texts__title {
    font-size: 2.5em;
  }
}
.main__top-page .texts__subtitle {
  font-size: 1.3em;
  font-weight: 400;
  color: #3D3C3C;
  line-height: 1.5em;
}
@media (max-width: 767.98px) {
  .main__top-page .texts__subtitle {
    font-size: 1.2em;
  }
}
.main__top-page .buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1.5em;
}
.main__top-page .buttons__primary {
  color: #FEFEFE;
  background-color: #00A5AE;
  border-radius: 50px;
  padding: 1em 2em;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: 400ms;
}
.main__top-page .buttons__primary:hover {
  background-color: #02879F;
  color: #F5F5F5;
  cursor: pointer;
}
.main__top-page .buttons__secondary {
  color: #3D3C3C;
  border: 1px solid #CBCBD7;
  border-radius: 50px;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 1em 2em;
  transition: 400ms;
}
.main__allcards {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}
@media (max-width: 767.98px) {
  .main__allcards {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .main__allcards {
    width: 100%;
  }
}
.main__allcards .smallcards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 7rem 0 5rem 0;
}
@media (max-width: 767.98px) {
  .main__allcards .smallcards {
    display: flex;
    flex-direction: column;
  }
}
.main__allcards .smallcards .smallcard {
  display: flex;
  flex-direction: column;
  max-width: 26%;
  padding: 1rem;
  border: 1px solid #CBCBD7;
  border-radius: 10px;
  transition: 400ms all ease;
}
.main__allcards .smallcards .smallcard:hover {
  transform: translateY(-1.5rem);
  cursor: pointer;
  border: 1px solid transparent;
}
@media (max-width: 767.98px) {
  .main__allcards .smallcards .smallcard {
    max-width: 100%;
    border: none;
    transition: none;
  }
  .main__allcards .smallcards .smallcard:hover {
    transform: none;
    border: none;
    transition: none;
  }
  .main__allcards .smallcards .smallcard:not(:last-child) {
    margin: 0 0 3rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .main__allcards .smallcards .smallcard {
    padding: 1rem;
  }
  .main__allcards .smallcards .smallcard:hover {
    transform: none;
    border: 1px solid #CBCBD7;
    transition: none;
  }
}
.main__allcards .smallcards .smallcard__icon {
  width: 20px;
  padding: 12px;
  border-radius: 10px;
  background-color: #F5F5F5;
  margin: 0 0 1.5em 0;
}
.main__allcards .smallcards .smallcard__imgSmallcard {
  width: 100%;
  object-fit: cover;
}
.main__allcards .smallcards .smallcard__title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 0 1em 0;
  color: #272626;
}
.main__allcards .smallcards .smallcard__subtitle {
  line-height: 1.4em;
  color: #717171;
}
.main__allcards .bigcards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .main__allcards .bigcards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.main__allcards .bigcards .bigcard {
  background-color: #F5F5F5;
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.main__allcards .bigcards .bigcard:not(:last-child) {
  max-width: 40%;
}
@media (max-width: 767.98px) {
  .main__allcards .bigcards .bigcard {
    background-color: #FFFFFF;
    padding: 0;
  }
  .main__allcards .bigcards .bigcard:not(:last-child) {
    max-width: 100%;
    margin: 0 0 5rem 0;
  }
}
.main__allcards .bigcards .bigcard:last-child {
  margin: 2.5rem 0 0 0;
  width: 100%;
}
@media (max-width: 767.98px) {
  .main__allcards .bigcards .bigcard:last-child {
    margin: 0 0 0 0;
    max-width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .main__allcards .bigcards .bigcard:last-child {
    margin: 1rem 0 0 0;
  }
}
.main__allcards .bigcards .bigcard__title {
  font-weight: bold;
  font-size: 1.6em;
  margin: 0 0 1.1em 0;
  color: #272626;
}
.main__allcards .bigcards .bigcard__subtitle {
  line-height: 1.9em;
  color: #717171;
}
.main__allcards .bigcards .bigcard__image {
  width: 80%;
  height: 450px;
  align-self: center;
  margin-top: 2em;
  margin: 2em 0 0 0;
}
.main__allcards .bigcards .bigcard__imgBigcard {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
