.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
}
.header__img {
  max-width: 2.5em;
}
.header .menu__list {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.header .menu__links:last-child {
  border: 1px solid black;
  padding: 1.5em 2.5em;
  border-radius: 50px;
  background-color: white;
}
.header .menu__link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.header .menu__link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.main {
  font-family: "Inter", sans-serif;
  max-width: 80%;
  margin: 0 auto;
}
.main__section-texts {
  margin: 8rem 0 3rem 0;
  width: 100%;
}
.main__texts {
  margin-bottom: 2rem;
  width: 55%;
}
.main__title {
  font-size: 4em;
  font-weight: bold;
  color: black;
  margin-bottom: 2rem;
  line-height: 1.2em;
}
.main__subtitle {
  font-size: 1.3em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5em;
}
.main .buttons {
  display: flex;
  gap: 2em;
  justify-content: flex-start;
}
.main .buttons__primary {
  color: white;
  background-color: blue;
  border-radius: 50px;
  padding: 1em 2em;
  border: 1px solid blue;
  font-size: 16px;
  font-weight: bold;
  transition: 400ms;
}
.main .buttons__primary:hover {
  background-color: darkblue;
  color: antiquewhite;
  cursor: pointer;
}
.main .buttons__secondary {
  color: black;
  border: 1px solid grey;
  border-radius: 50px;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 1em 2em;
  transition: 400ms;
}
.main .buttons__secondary:hover {
  border: 1px solid black;
  cursor: pointer;
}
.main__allcards {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.main__smallcards {
  display: flex;
  justify-content: space-between;
  margin: 7rem 0 5rem 0;
  width: 100%;
}
.main__smallcards .smallcard {
  display: flex;
  flex-direction: column;
  width: 26%;
  padding: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.18);
  border-radius: 10px;
}
.main__smallcards .smallcard__icon {
  width: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.26);
  margin-bottom: 1.5em;
}
.main__smallcards .smallcard__imgSmallcard {
  width: 100%;
  object-fit: cover;
}
.main__smallcards .smallcard__title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.main__smallcards .smallcard__subtitle {
  line-height: 1.4em;
  color: rgba(128, 128, 128, 0.9);
}
.main__bigcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__bigcards .bigcard {
  background-color: rgba(128, 128, 128, 0.151);
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.main__bigcards .bigcard:last-child {
  width: 100%;
  margin-top: 2.5rem;
}
.main__bigcards .bigcard__title {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 1.1em;
}
.main__bigcards .bigcard__subtitle {
  line-height: 1.9em;
  color: rgba(128, 128, 128, 0.9);
}
.main__bigcards .bigcard__image {
  width: 80%;
  height: 450px;
  align-self: center;
  margin-top: 2em;
}
.main__bigcards .bigcard__imgBigcard {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  margin-top: 4rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5rem;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.87);
  font-family: "Inter", sans-serif;
}
.footer__p {
  color: white;
}

/*# sourceMappingURL=style.css.map */
