.footer {
    padding: 1rem;
    @include flexbox(justify-content, center);
    align-items: flex-end;
    gap: 5rem;
    height: 70px;
    background-color: $raising-black;
    font-family: 'Inter', sans-serif;

    &__p {
        color: $raising-white;
    }

}