.header {
    @include flexbox(justify-content, space-between);
    align-items: center;
    font-family: 'Inter', sans-serif;
    max-width: 80%;
    @include mixin-margin(0, auto, 0, auto);
    padding: 1rem;

    &__logo {
        max-width: 2.5em;
    }

    &__img {
        width: 100%;
    }

    .menu {
        &__list {
            @include flexbox(align-items, center);
            gap: 2.5rem;
        }

        &__links {

            &:last-child {
                border: 1px solid $levander-grey;
                padding: 1.2em 2.3em;
                border-radius: 50px;
                background-color: $standard-white;
                @extend %default-behavior;

                &:hover {
                    @extend %hover-behavior;
                }
            }
        }

        &__link {
            @extend %default-behavior;
            font-weight: bold;
        }
    }
}