.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    margin: 0 5rem;
    padding: 1rem;

    &__img {
        max-width: 2.5em;
    }

    .menu {
        &__list {
            display: flex;
            align-items: center;
            gap: 4rem;
        }

        &__links {
            &:last-child {
                border: 1px solid black;
                padding: 1.5em 2.5em;
                border-radius: 50px;
                background-color: white;
                
            }

        }

        &__link {
            text-decoration: none;
            font-weight: bold;
            color: black;

            &:hover {
                color: rgba(0, 0, 0, 0.5);
            }
        }


    }
}